@import url(https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

:root {
  --base-font-size: 16px;

  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-orange: #E76020;
  --color-gray: #9E9E9E;
  /* Border */
  --border: 1px solid var(--color-orange);
  --border-radius: 10px;

  /* Fonts */
  --pts: "PT Sans", sans-serif;
  --bn: "Bona Nova", sans-serif;

  /* Sizes */
  --size-container-width: 1200px;
  --size-container-padding: 16px;


  /* Line Heights */
  --line-height-small: 1.2;
  --line-height-medium: 1.5;
  --line-height-large: 1.8;

}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none
}

/**
 * Современный нормалайз стилей
 */

/* Нормализация блочной модели */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Базовые сбросы отступов */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

:where(h1, h2, h3, h4, h5, h6,
  p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/* Списки */
:where(ul[class]) {
  list-style: none;
}

/* Типография */
html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

:where(address[class]) {
  font-style: normal;
}

/* Параграфы */
p {
  margin-block: 0;
}


/* Изображения и медиа */
/* img,
video {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* SVG */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/* Формы */
textarea,
select,
button {
  font: inherit;
}

:where(input, textarea, select):where([class]) {
  appearance: none;
  border-radius: 0;
}

button,
label {
  cursor: pointer;
}

/* Ссылки */
/* a:where([class]) {
  display: inline-flex;
} */

address {
  font-style: normal;
}

/* Таблицы */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/* Фокус для доступности */
:where(:focus-visible) {
  outline: 2px solid Highlight;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: 2px;
}

/* Reduced motion для доступности */
@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  background-color: #2b2222;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding-block: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.header--scrolled {
  padding-block: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}


.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 10vw;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  font: 700 2.5rem/1 var(--bn);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* Бургер кнопка */

.burger {
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger:active {
  transform: scale(1.1);
}

.burger span {
  height: 3px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 2px;
  transition: all 0.1s ease;
}

/* _______________ */

.header__menu {
  display: flex;
  gap: 4vw;
  margin-left: 3vw;
  padding-top: 1em;
}

.header__menu-link {
  font: 700 1.25rem/1 var(--pts);
  color: var(--color-white);
}

.active {
  color: var(--color-gray);
  cursor: default;
}

@media (max-width: 770px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .container {
    padding-inline: 3vw;
  }

  .burger {
    display: flex;
  }

  .header {
    padding-block: 20px;
  }

  .header--scrolled {
    padding-block: 8px;
  }

  .header__menu {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.6s ease;
    transform: translateX(150%);
    opacity: 0;
    pointer-events: none;
  }

  .header__logo {
    font: 700 2rem / 1 var(--bn);
  }

  .header__menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .header__menu-link {
    font: 700 1rem/1 var(--pts);
  }
}

@media (max-width: 480px) {}

.burger.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

/* footer */

.footer {
  padding-block: 50px 70px;
  background-color: #121212;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.footer_logo {
  font: 700 26px/1 var(--bn);
  color: var(--color-white);
  letter-spacing: 0.06em;
  padding-top: 5px;

}

.footer-list {
  display: flex;
  flex-direction: column;
  font: 700 1.6rem/1.25 var(--pts);
  color: var(--color-white);
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1.87rem;
}

.footer img {
  height: 35px;
}

@media (max-width: 770px) {

  .footer {
    padding: 0;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 5%;
  }

  .footer-list {
    align-items: center;
  }

  .footer_logo {
    font: 700 20px/1 var(--bn);
  }

  .footer-list {
    font: 700 20px/1 var(--pts);
  }

  .footer img {
    height: 25px;
  }
}

@media (max-width: 480px) {

  .footer .container {
    align-items: flex-start;
  }

  .footer_logo {
    font: 700 16px/1 var(--bn);
  }

  .footer-list {
    align-items: flex-start;
    font: 700 16px/1 var(--pts);
  }

  .footer img {
    height: 20px;
  }
}

/* button */
.button_big {
  margin-top: 10px;
  padding: 22px 70px;
  white-space: nowrap;
}

.button_small {
  padding: 12px 35px;
  white-space: nowrap;

}

.button {
  /* z-index: 2; */
  background-color: var(--color-orange);
  border: 0 solid var(--color-orange);
  border-radius: 10px;
  font: 700 27.7px/1 var(--pts);
  color: var(--color-white);
  transition: all 0.2s ease;
}

.button:hover,
.button:active {
  background-color: #EB7F4C;
}

.button_mob {
  display: none;
  padding: 16px 60px;
  border: 2px solid var(--color-white);
  border-radius: 10px;
  font: 700 18px/1 var(--pts);
  color: var(--color-white);
  transition: all 0.2s ease;
}

.button_mob:hover,
.button_mob:active {
  background-color: var(--color-orange);
}

.buttons {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 29vh;
  text-align: center;
}


.address {
  display: flex;
  flex-direction: column;
  font: 400 22px/125% var(--pts);
  text-align: left;
}


.block {

  /* display: flex;
    justify-content: center; */
  background-color: var(--color-white);
}

.title-bn32 {
  font: 700 31px/1 var(--bn);
  color: var(--color-black);
  margin-bottom: 30px;
}

.Desc-pts18 {
  font: 400 18px/1.2 var(--pts);
  color: var(--color-black);
  white-space: pre-wrap;
}

#showMore {
  display: none;
}

@media (max-width: 770px) {
  .button {
    font: 700 18px/1 var(--pts);
  }

  .button_small {
    padding: 16px 60px;
    margin: 0;
  }

  .button_big {
    /* max-width: 50%; */
    padding: 16px 60px;
  }

  .block {
    padding: 5%;
  }
}

@media (max-width: 480px) {

  .button_mob {
    display: block;
  }

  .buttons {
    margin-bottom: 60px;
    width: 100%;
  }

  .button_big {
    display: block;
  }

  .address {
    font: 400 18px/124% var(--pts);
  }

  .title-bn32 {
    Font: 700 28px/1 var(--bn);
    margin-bottom: 20px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
/* Акция */
.offer {
    position: fixed;
    top: 2vh;
    left: 50%;
    z-index: 999;
    display: none;
    height: 90vh;
    aspect-ratio: 625 / 785;
    background-color: white;
    text-align: center;
    transform: translateX(-50%);
}

.offer_pic {
    height: auto;
    width: 100%;
    aspect-ratio: 625/350;
    background-image: url(/electica-restaurant/48043b3442f4996070ca.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.offer_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    gap: 4vh;
    padding: 2vh calc((77 / 1920) * 100%);
}

.offer_title {
    color: var(--color-black);
    font: 700 2em/1 var(--bn);
    text-align: center;
}

.offer_text {
    color: var(--color-black);
    font: 500 14px/120% var(--pts);
    text-align: center;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font: 700 1.5em/1 cursive;
    text-align: right;
    color: gray;
    cursor: pointer;
}

#offer_open {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 999;
    width: calc(177 / 1920 * 100vw);
    aspect-ratio: 1/1;
    /* height: calc(177 / 1920 * 100vw); */
    border-radius: 50%;
    background-color: var(--color-orange);
    border: 0 solid var(--color-orange);
    font: 700 22px/1 var(--bn);
    text-transform: uppercase;
    color: var(--color-white);
    transition: all 0.2s ease;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

#offer_open:hover {
    background-color: #EB7F4C;
}

.is-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/* intro */

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    width: 100%;
    background-image: url(/electica-restaurant/c987e70681ea8c52e30f.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    content: '';
}

.intro__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 199px;
    max-width: 777px;
    /* font: 400 96px/1 var(--bn); */
    color: var(--color-white);
    text-align: center;
}

.intro__title {
    font: 400 96px/1 var(--bn);
    /* color: var(--color-white);
    text-align: center; */
}

@media (max-width: 768px) {

    .intro__title {
        font: 400 5em/1 var(--bn);
    }

    .intro__wrapper {
        padding-top: 150px;
    }
}

@media (max-width: 480px) {

    .intro::before {
        background: 0;
    }

    .intro {
        align-items: flex-start;
        background-image: url(/electica-restaurant/05e45c0222b5b7c86f7a.png);
        padding-inline: 5.5vw;
        gap: 113px;
    }

    .intro__title {
        text-align: left;
        font: 700 35px/1 var(--bn);
    }

    .offer {
        position: fixed;
        inset: 0;
        /* top:0 right:0 bottom:0 left:0 */
        z-index: 9999;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        border: none;
        animation: slideUp 0.3s ease-out;
        transform: none;
    }

    .offer_text {
        font: 500 15px/120% var(--pts);
    }

    body.no-scroll {
        overflow: hidden;
        touch-action: none;
    }

    .offer_title {
        position: absolute;
        top: 100px;
        color: var(--color-white);
    }

    .offer .darkening {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .dark {
        padding-top: calc((100% / 625 * 350) * 1);
    }
}


/* Gallery */

.gallery__pic {
    /* width: 50vw; */
    height: 100%;
    background-size: cover;
}

.gallery__text {
    /* width: 50vw; */
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 5%;
    background-color: var(--color-white);
}

#rightArrow {
    transform: rotate(180deg);
    margin-left: 40px;
}

.gallery .mob {
    display: none;
    height: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.gallery .mob img {
    height: 28px;
    padding: 2px 8px;
    border-radius: 10px;
    outline: 2px solid #e5e4e4;
    background-color: #cecccb;
    opacity: 1;
    cursor: pointer;
    /* transform: scale(1); */
    transition: all ease 0.5s;
}

.about .mob .leftArrow,
.values .mob .rightArrow {
    opacity: 0.6;
    cursor: default;
}



.about .dsk .leftArrow,
.values .dsk .rightArrow {
    opacity: 0.4;
    cursor: default;
}

.about .dsk .rightArrow,
.values .dsk .leftArrow {
    cursor: pointer;
    transition: transform ease 0.5s;
}

.rightArrow {
    transform: rotate(180deg);
    margin-left: calc(85px - 2 * 17px);
}

.about .rightArrow:active {
    transform: rotate(180deg) scale(1.25);
}

.values .leftArrow:active {
    transform: scale(1.25);
}

.about h3::after {
    content: "О нас";
}

.about p::after {
    content: "Ресторан «Эклектика» — это место, где сочетаются утонченный вкус и теплая атмосфера. Наши шеф-повара тщательно подбирают ингредиенты и создают блюда с любовью к каждому клиенту.\A\A«Эклектика» предлагает уютные залы для семейных ужинов, романтических свиданий и деловых обедов. Мы ценим ваше время и комфорт, поэтому обеспечиваем высокий уровень сервиса.\A\AДобро пожаловать в мир великолепных вкусов и неповторимых воспоминаний."
}

.about .gallery__pic {
    background-image: url(/electica-restaurant/338a1d8261b7d7fead9f.png);
}

.values h3::after {
    content: "Наши ценности";
}

.values p::after {
    content: "«Эклектика» — это уютное место, где каждый гость становится частью нашей семьи. Мы гордимся тем, что создали атмосферу, в которой сочетается элегантность и теплота, а меню предлагает богатство вкусов, подчеркивая лучшие кулинарные традиции мира.\A\AРесторан «Эклектика» — это не просто еще одно место для обеда. Это место, где сливаются воедино стиль, вкус и теплота, создавая неповторимый опыт для тех, кто ценит настоящую гастрономию."
}

.values .gallery__pic {
    background-image: url(/electica-restaurant/bcf5ad686fa4c4d83002.png);
}

@media (max-width: 768px) {
    .gallery .dsk {
        display: none;
    }

    .gallery .mob {
        display: flex;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-rows: 360px 1fr;
    }
}


/* reviews */

.reviews {
    display: flex;
    flex-direction: column;
    background-image: url(/electica-restaurant/05e45c0222b5b7c86f7a.png);
}

.reviews__title {
    padding-left: 13.5vw;
    padding-top: 5.8rem;
    color: var(--color-white);
}

#reviews__carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 166px 6vw;
    padding-top: 35px;
}

#rightReviewArrow,
#leftReviewArrow {
    width: 4vw;
    cursor: pointer;
}

#leftReviewArrow {
    transform: rotate(180deg) !important;
}

.inactive {
    opacity: 0.3;
    cursor: default !important;
}

.reviews__conteiner {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: stretch;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0 100px;
    background-color: transparent;

}

.reviews__card {
    display: grid;
    grid-template-columns: 10vmax 1fr;
    grid-template: "p n"
        "p r"
        "t t";
    grid-gap: 30px;
    width: calc(40vw - 65px);
    padding: 2vw;
    background-color: var(--color-white);
}

.reviews__photo {
    width: 10vmax;
    border-radius: 5vmax;
    grid-area: p;
}

.reviews__name {
    grid-area: n;
    font: 700 1.5rem/1 var(--pts);
}

.reviews__starts {
    grid-area: r;
    display: grid;
    grid-template-columns: 34px 34px 34px 34px 34px;
}

.reviews__text {
    grid-area: t;
    font: 400 1.12rem/1.2 var(--pts);
}

#showMore {
    display: none;
}

@media (max-width: 1240px) {
    .reviews__conteiner {
        flex-direction: column;
    }

    .reviews__card {
        width: 100%;
        grid-template: "p"
            "r"
            "n"
            "t";
    }

    .reviews__photo,
    .reviews__starts,
    .reviews__name {
        margin: 0 auto;
    }

    .reviews__conteiner {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .reviews__card {
        width: 80vw;
        transition:
            opacity 0.6s ease,
            transform 0.6s ease,
            max-height 0.6s ease,
            margin 0.6s ease;
    }

    /* скрытые карточки при свернутом контейнере */
    .reviews--collapsed .reviews__card:not(:first-child) {
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;

        max-height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;   
        
    }

    /* развёрнутое состояние */
    .reviews__card:not(:first-child) {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;

        max-height: 1000px;
        margin: initial;
        overflow: visible;           
    }



    .reviews__conteiner {
        flex-direction: column;
        margin: 0;
    }

    #leftReviewArrow,
    #rightReviewArrow {
        display: none;
    }

    .reviews {
        align-items: center;
    }

    .reviews__title {
        padding-left: 0;
    }

    #showMore {
        display: block;
        margin: 20px 0;
        /* margin-left: 28vw; */
        width: 204px;
        height: 55px;
        border-radius: 100px;
        background: none;
        border: 2px solid white;
        color: var(--color-white);
        font-family: PT Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
    }

    #showMore:active {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    #reviews__carousel {
        padding: 5vw;
    }
}

@media (max-width: 480px) {

    
    .reviews__card {
        padding: 3vh;
        width: 90vw;
    }

}

/* contact */

.contact__pic {
    background-image: url(/electica-restaurant/bcf5ad686fa4c4d83002.png);
    background-size: cover;
}

.contact__block {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    background-color: var(--color-white);
}


.contact__form {
    margin-block: 150px;
    max-width: 400px;
    padding-left: 5%;
}

.address_gap {
    gap: 30px;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .contact__block {
        padding: 5%;
    }
}


@media (max-width: 750px) {

    .contact__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5%;
        text-align: center;
    }

    .contact__form {
        margin-block: 0;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .contact__form {
        padding-left: 0;
    }

}
